.textdescription{
    height:300px;
    padding-top: 20px;
    text-align: center;
}

h2 {
    color: #3A4368;
    font-weight: 600;
    text-shadow: 5px 0px 21px rgba(0,0,0,0.3);
    padding-top: 30px;
}

.projectdetails{
    display: flex;
    justify-content: center;
    position: relative;
   }
.top-img flip{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
.center{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}